In [1]:
import numpy as np
import pandas as pd
dataset = pd.read_csv("..\\DATA\\processed_stock_data.csv")

In [2]:
print(dataset.shape)

(416, 12)

In [3]:
dataset.head()

,Unnamed: 0,ticker,list_date,market_cap,mkt_cap_low,mkt_cap_high,lower_offer_pr,upper_offer_pr,final_offer_price,over_sub_ratio,allot_odds,firstday_return
0,0,06618.HK,2020/12/08,1963.81-2207.09,1963.81,1963.81,62.800,70.58,70.580,420.9,0.4,0.00000
1,1,02110.HK,2020/12/07,5.00-6.00,5.00,5.00,0.225,0.27,0.225,35.8,0.2,-0.14667
2,2,06666.HK,2020/12/02,918.92-1054.05,918.92,918.92,8.500,9.75,8.800,9.7,0.5,-0.00227
3,3,06996.HK,2020/11/20,105.58-120.81,105.58,105.58,15.800,18.08,18.080,263.8,0.2,0.01106
4,4,01516.HK,2020/11/19,316.50-379.50,316.50,316.50,10.550,12.65,11.600,9.4,0.3,0.21897

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         416 non-null    int64
 1   ticker             416 non-null    object
 2   list_date          416 non-null    object
 3   market_cap         416 non-null    object
 4   mkt_cap_low        416 non-null    float64
 5   mkt_cap_high       416 non-null    float64
 6   lower_offer_pr     416 non-null    float64
 7   upper_offer_pr     416 non-null    float64
 8   final_offer_price  416 non-null    float64
 9   over_sub_ratio     416 non-null    float64
 10  allot_odds         416 non-null    float64
 11  firstday_return    416 non-null    float64
dtypes: float64(8), int64(1), object(3)
memory usage: 39.1+ KB

In [5]:
X, y = dataset.iloc[:, 4:-1], dataset.iloc[:,-1]

In [6]:
# import AdaBoost's necessarily tools
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import AdaBoostRegressor

In [7]:
model = AdaBoostRegressor()

In [8]:
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=123)

In [9]:
n_scores = cross_val_score(model, X, y, scoring="neg_root_mean_squared_error", cv=cv, n_jobs=-1, error_score="raise")

In [10]:
print('RMSE: %.5f' % (-1*mean(n_scores)))

RMSE: 0.48368